body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app-header {
  background-color: #1db954;
  width: 100%;
  padding: 20px;
  text-align: left;
  display: flex;
}

.app-header h1 {
  margin: 0;
  font-size: 2rem;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.login {
  margin-bottom: 20px;
}

.login a {
  color: #1db954;
  text-decoration: none;
  font-size: 1.2rem;
}

.login input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.login button {
  padding: 10px 20px;
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist {
  margin: 10px;
  text-align: center;
}

.artist img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.artist h2 {
  font-size: 1.2rem;
  margin-top: 10px;
}